@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}
body
{
    margin: 0;
    padding: 0;
    background: rgba(63, 14, 64, 0.93);
    font-size: 16px;
    color: #777;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}
#login-box {
    position: relative;
    height: 400px;

}
.left-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 700px;
    box-sizing: border-box;
    background: rgba(63, 14, 64, 0.93);
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.welcome-section {
    text-align: center;
    margin-top: 28%;
    color: #ffffff;   
}
.mt-5 {
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 10px;
}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 50%;
    height: 700px;
    background: #fff;
    font-family: 'Oxygen', sans-serif; 
}

.login-container {
    margin-top: 15%;
}

.login-form{
    max-width: 100%;
    width: 370px;
    padding: 15px;
    margin: auto;
}

.form-control{
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}

.form-control:focus{
    border-color:#3F0E40;
    box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}

.forgot-link{
    font-size: 13px;
}

.forgot-link label{
    margin-bottom: 0;
}

.login-form a{
    text-decoration: none;
    color: #666666;
}

.login-form a:hover{
    color:#3F0E40;
}
.signIn {
    text-align: center;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: none;
    border-color: #fff;
}
.btn {
    background: #3f0e40;
    border-radius: 5px;
    color: #fff;
    border: none;
    height: 37px;
    width: 38%;
}

/* mobile veiw */
@media (max-width: 575.98px) {
    body {
        background-color: #3F0E40;
    }
    .right-box {
        width: 100%;
    }
    .left-box {
        display: none;
    }
    .right-box {
        background: #3F0E40;
    }
    .welcome-section {
        font-size: 25px;
        padding-top: 20px;
    }
    .signup-form {
        height: 70%;
        width: 100%;
        margin-bottom: 20%;
        background: #fff;
        padding-bottom: 20%;
    }

}